<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carl.study.springboot.v1x.mapper.mapperDB1.StudentMapper">


    <select id="getStudentById" resultType="student">
        SELECT T.ID, T.NAME FROM T_STUDENT T WHERE T.ID=#{id}
    </select>

    <select id="getKHInfoById" resultType="kHInfo">
        SELECT T.ID, T.NAME FROM T_STUDENT T WHERE T.ID=#{id}
    </select>

</mapper>